<section class="py-5" style="background-color: #000; color: #fff;" id="Education">
  <div class="container">
    <h1 class="gradient-text fw-bold mb-4 text-center">My Education</h1>

    <div class="row">
      <div class="col-md-6 mb-5" *ngFor="let column of [0,1]">
        <div *ngFor="let edu of education | slice:(column*2):(column*2+2)" 
             class="card mb-3" style="background-color:#1f172a; color:white;">
          <div class="card-body">
            <h6 class="card-subtitle mb-1" style="color:#a855f7;">{{ edu.date }}</h6>
            <h5 class="card-title fw-bold">{{ edu.title }}</h5>
            <p class="card-text">{{ edu.subtitle }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
