<section class="py-5" style="background-color: #0b0214; color: white;">
  <div class="container text-center">
    <h2 class="gradient-text fw-bold mb-4 text-center">My Works</h2>
    <p class="text-white-30 mb-4">
      We put your ideas and wishes in the form of a unique web project that inspires you and your customers.
    </p>

    <!-- Category Buttons -->
    <div class="btn-group mb-5">
      <button
        *ngFor="let filter of filters"
        class="btn"
        [ngClass]="{
          'btn-purple': selectedFilter === filter,
          'btn-outline-light': selectedFilter !== filter
        }"
        (click)="selectFilter(filter)"
      >
        {{ filter }}
      </button>
    </div>

    <!-- Project Cards -->
    <!-- <div class="row">
      <div class="col-md-6 mb-4" *ngFor="let project of filteredProjects">
        <div class="card bg-dark text-white h-100">
            <a [href]="project.link" target="blank">
            <img [src]="project.img" class="card-img-top" alt="Project Image" />
            <div class="card-body">
              <h5 class="card-title">{{ project.title }}</h5>
              <p class="card-text">{{ project.description }}</p>
              <span class="badge bg-purple text-capitalize">{{ project.category }}</span>
            </div>
          </a>
          </div>
      </div>
    </div> -->
  <div class="row">
  <div class="col-md-6 mb-4" *ngFor="let project of filteredProjects">
    <a
      *ngIf="project.link"
      [href]="project.link"
      target="_blank"
     class="text-decoration-none"
    >
      <div class="card bg-dark text-white h-100">
        <img [src]="project.img" class="card-img-top" alt="Project Image" />
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
          <span class="badge bg-purple text-capitalize">{{ project.category }}</span>
        </div>
      </div>
    </a>
    <!-- <div *ngIf="!project.link">
      <div class="card bg-dark text-white h-100">
        <img [src]="project.img" class="card-img-top" alt="Project Image" />
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
          <span class="badge bg-purple text-capitalize">{{ project.category }}</span>
        </div>
      </div>
    </div> -->
  </div>
</div>

  </div>
</section>
