.skill-img {
  width: 80px;  
  height: 80px;
  object-fit: contain; 
  border-radius: 8px;   
}


.gradient-text {
  background: linear-gradient(
      to right,
      #8750f7 30%,
      #ffffff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  text-fill-color: transparent;
  font-size:2.5rem;
}

